*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding: 50px;
    background-color: rgb(201, 171, 240);
    color: black;
}

.searchContainer {
    text-align: center;
}

.btn-custom {
    margin: 5px;
}

li{
    border: 2px solid black;
    margin: 5px 5px;
    padding: 5px;
    width: 150px;
    height: 180px;
    box-sizing: border-box;
}

#content {
    width: 1500px;
    padding: 5px;
    height: 560px;
    display: flex;
    list-style-type: none;
}